@font-face {
  font-family: 'BluuTitling';
  src: url("../src/assets/fonts/bluunext-titling.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url("../src/assets/fonts/CormorantGaramond-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url("../src/assets/fonts/CormorantGaramond-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url("../src/assets/fonts/CormorantGaramond-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url("../src/assets/fonts/CormorantGaramond-MediumItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

body {
  margin: 0;
  background-color: #f5e4bc;
}