@font-face {
  font-family: 'BluuTitling';
  src: url("../src/assets/fonts/bluunext-titling.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* 
@font-face {
  font-family: 'BluuTitling';
  src: url("../public/assets/fonts/bluunext-titling") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url("../public/assets/fonts/CormorantGaramond-Bold") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url("../public/assets/fonts/CormorantGaramond-BoldItalic") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url("../public/assets/fonts/CormorantGaramond-Medium") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url("../public/assets/fonts/CormorantGaramond-MediumItalic") format("woff2");
  font-weight: normal;
  font-style: normal;
} */

body {
  margin: 0;
  background-color: #f5e4bc;
}